// imports fonts
@import url("https://fonts.googleapis.com/css?family=Cormorant+Unicase");
@import url("https://fonts.googleapis.com/css?family=Cinzel");

// imports stylesheets
// @import "throne";
// @import "starkstyle";

// variables fonts
$fontNav: "Cormorant Unicase", serif;
$h1font: "Cinzel", sans-serif;
$fontSize: 1.2rem;
$h1size: 4rem;

// variables colors
$maincolor: #111;
$fontcolor: #ebe5c6;
$fontbodycolor: #c2bca0;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@mixin bodybase {
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: $maincolor;
}

@mixin navigation {
  font-family: $fontNav;
  padding: 1rem;
  background-image: linear-gradient(to left, rgb(0, 0, 0), transparent);
}

@mixin link {
  text-decoration: none;
  font-size: $fontSize;
  font-weight: bold;
  padding: 1em;
  transition-duration: 3s;
}

@mixin list {
  display: inline;
  list-style: none;
  color: $fontcolor;
}

@mixin Hmain {
  color: $fontcolor;
  font-size: $h1size;
  text-align: center;
  font-family: $h1font;
  padding: 1em;
  word-spacing: 0.8em;
}

@mixin headerbase {
  position: fixed;
  width: 100%;
  height: 3.6em;
  border-bottom: 2px solid gray;
  box-shadow: 0 0 8px #ebe5c6;
  z-index: 1;
}

.base-header {
  @include headerbase;
}

body {
  @include bodybase;
}

// link hover, banner of the house scroll down
// a:hover
// {

// }

nav {
  @include navigation;
  float: right;

  ul li {
    @include list;
  }

  a {
    @include link;
    color: $fontcolor;
  }
}
