// imports
@import "style";
// variables fonts

body,html{
  height: 100%;
}


.throneHeader {
  @include headerbase;
  @include navEffects;
  background-image: url(../images/nav/throne.jpeg);
  background-position: center;
  background-size: cover;
}

.throne {
  background-image: url(../images/main/ironthrone.jpg);
  background-size: cover;
  height: 100vh;
  background-repeat: no-repeat;
  box-shadow: 0 0 180px black inset;
  overflow: hidden;
  position: relative;

  .wrapper {
    overflow: hidden;
    margin: -200px 0;

    .overlay {
      background: url("../images/backgrounds/fog_tile.png");
      background-repeat: repeat;
      background-size: cover;
      height: 150vh;

      animation: slideFog 60s ease-in-out infinite;
    }
  }

  .headlines{

    margin: auto;
    transform: translateY(200%);

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
  }

  &__headline{
    @include Hmain;
    padding: 0;
    color: $fontbodycolor;
    text-align: center;
    text-shadow: 0 0 2px black, 0 0 8px black, 0 0 64px black;
    letter-spacing: 3px;
  }

  &__subheadline{
    @include Hmain;
    font-size: 18px;
    background-color: rgba($color: #111, $alpha: 0.5);

  }

  }

  .modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #111, $alpha: 0.7);
    z-index: 999;

    display: flex;
    align-items: center;
    justify-content: center;

    &__popup{
      margin: auto;
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      justify-content: center;
      animation: moveUp 2s linear;

      background-image: linear-gradient( -120deg, #111, #3f3f3f);
      box-shadow: 2px 2px 4px #111;
      border: 2px solid whitesmoke;
      padding: 1rem;
    }

    h3{
      font-size: 3rem;
      text-transform: uppercase;
      color: whitesmoke;

      padding: 1rem;
    }

    p{
      color: whitesmoke;
      text-align: center;
      font-size: 1.4rem;

      padding: 0.25rem;
      line-height: 130%;
    }
    
    button{
      margin: 1rem;
      margin-top: 2rem;
      padding: 0.5rem;

      text-align: center;
      text-transform: uppercase;
      font-size: 1.2rem;
      font-family: serif;
      font-weight: 600;
      border: 3px solid wheat;
      background-color: rgb(221, 197, 151);
      color: rgb(78, 78, 78);
      box-shadow: inset 1px 1px 8px #111;
      cursor: pointer;
      transition: all 0.3s ease;

      &:hover,
      &:focus{
        color: #111;
        scale: 1.1;
      }
      

    }
  }


  @keyframes slideFog {
    0% {
      background-position: 0, 0;
    }
    50% {
      background-position: -512px, 0;
    }

    100% {
      background-position: 0, 0;
    }

  }

  @keyframes moveUp {
    from{
      transform: translateY(300%);
    }to{
      transform: translateY(0);
    }
  }


