// imports
@import "style";

// variables fonts

.throneHeader {
  @include headerbase;
  background-image: url(../images/nav/the-game-of-thrones-iron-throne-is-coming-to-dundrum.jpg);
}

.throne {
  background-image: url(../images/main/ironthrone.jpg);
  background-size: cover;
  height: 100vh;
  background-repeat: no-repeat;
  box-shadow: 0 0 180px black inset;

  .wrapper {
    overflow: hidden;
    margin: -200px 0;

    .overlay {
      background: url("../images/backgrounds/fog_tile.png");
      background-repeat: repeat;
      background-size: cover;
      height: 100vh;

      animation: slideFog 60s ease-in-out infinite;
    }
  }

  @keyframes slideFog {
    0% {
      background-position: 0, 0;
    }
    50% {
      background-position: -512px, 0;
    }

    100% {
      background-position: 0, 0;
    }
  }

  .h1Throne {
    @include Hmain;
    color: $fontbodycolor;
    text-align: center;
    position: relative;
    top: 16rem;
    text-shadow: 0 0 2px black, 0 0 8px black, 0 0 64px black;
  }
}
