@import url("https://fonts.googleapis.com/css?family=Cormorant+Unicase");
@import url("https://fonts.googleapis.com/css?family=Cinzel");
@import url("https://fonts.googleapis.com/css?family=Cormorant+Unicase");
@import url("https://fonts.googleapis.com/css?family=Cinzel");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.base-header {
  position: fixed;
  width: 100%;
  height: 4rem;
  border-bottom: 2px solid gray;
  -webkit-box-shadow: 0 0 8px #ebe5c6;
          box-shadow: 0 0 8px #ebe5c6;
  z-index: 1;
}

body {
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: #111;
}

nav {
  font-family: "Cormorant Unicase", serif;
  padding: 1.2rem;
  background-image: -webkit-gradient(linear, right top, left top, from(black), color-stop(rgba(0, 0, 0, 0.95)), color-stop(rgba(0, 0, 0, 0.75)), to(transparent));
  background-image: linear-gradient(to left, black, rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.75), transparent);
  float: right;
}

nav ul li {
  list-style: none;
  color: #fdf4c7;
  -webkit-transition: 3s;
  transition: 3s;
}

nav a {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 1em;
  -webkit-transition-duration: 3s;
          transition-duration: 3s;
  color: #fdf4c7;
}

.headerStark {
  position: fixed;
  width: 100%;
  height: 4rem;
  border-bottom: 2px solid gray;
  -webkit-box-shadow: 0 0 8px #ebe5c6;
          box-shadow: 0 0 8px #ebe5c6;
  z-index: 1;
  background-image: url(../../images/nav/wolf_pelt.jpg);
  background-size: cover;
  background-position: center center;
}

.headerStark li:hover {
  text-decoration: underline;
  -webkit-transition-delay: .3s;
          transition-delay: .3s;
}

.headerStark ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.headerStark .dropdown-content {
  position: absolute;
  top: 2.5rem;
  z-index: 1;
}

.headerStark .dropdown-content .banner {
  height: 0;
  width: 80px;
  position: relative;
  left: 1.5rem;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.headerStark li:hover .dropdown-content .banner {
  height: 100px;
}

.backgroundStark {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -999;
}

.stark {
  background-image: url(../../images/main/stark_direwolve.png);
  background-size: contain;
  background-position: center center;
  height: 100vh;
  background-repeat: no-repeat;
  position: relative;
  top: 1rem;
  z-index: -1;
}

.stark .h1stark {
  color: #fdf4c7;
  font-size: 4rem;
  text-align: center;
  font-family: "Cinzel", sans-serif;
  padding: 1em;
  word-spacing: 0.8em;
  color: #aaaaaa;
  font-size: 4em;
  position: absolute;
  top: 6em;
  left: 2em;
  text-shadow: 0 0 2px black, 0 0 8px black, 0 0 64px black;
}

.starkfamily {
  background: #303030;
  border-top: 2px grey solid;
}

.starkfamily .h2stark {
  color: #fdf4c7;
  font-size: 4rem;
  text-align: center;
  font-family: "Cinzel", sans-serif;
  padding: 1em;
  word-spacing: 0.8em;
  color: #aaaaaa;
  margin: 2em 4em;
  font-size: 3em;
  text-decoration: underline;
}

.starkfamily .tree {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.starkfamily .tree .card {
  margin: 16px 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  border: 2px #aaaaaa solid;
  -webkit-box-shadow: 4px 4px 8px black;
          box-shadow: 4px 4px 8px black;
}

.starkfamily .tree .card-info {
  background: #111;
  color: #aaaaaa;
  display: none;
  opacity: 0;
  -webkit-transition: all 1s linear;
  transition: all 1s linear;
  overflow-y: scroll;
  width: 220px;
  height: 370px;
}

.starkfamily .tree .card-info hr {
  margin: 16px;
}

.starkfamily .tree .card-info .character {
  text-align: center;
  padding: 16px;
}

.starkfamily .tree .card-info .quote {
  padding: 4px;
  text-align: center;
}

.starkfamily .tree .card:hover .card-info {
  opacity: 1;
  display: block;
}

.starkfamily .tree .cardcontainer {
  background-color: #111;
}

.starkfamily .tree .cardimg {
  border: 2px solid #111;
}

.starkfamily .tree .h4card {
  color: #aaaaaa;
  font-size: 1.1em;
  text-align: center;
  padding: 8px;
}

.starkfamily .deadcard {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}
/*# sourceMappingURL=starkstyle.css.map */