// imports fonts
@import url("https://fonts.googleapis.com/css?family=Cormorant+Unicase");
@import url("https://fonts.googleapis.com/css?family=Cinzel");

@import "../style";

// font variables
$baratheonfontcolor: rgb(255, 222, 73);
$baratheonbackcolor: rgb(212, 181, 44);
$baratheoncardcolor: rgb(37, 37, 34);
$baratheonfontsize: 4em;

// card variables
$cardcolor: whitesmoke;
$cardfontsize: 1.1em;
$deadcardfilter: grayscale(100%);

.headerBaratheon {
  @include headerbase;
  @include navEffects;
  background-image: url(../../images/nav/deer-fur-texture.jpg);
}

.backgroundBaratheon {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -999; 
}

.baratheon {
  background-image: url(../../images/main/baratheon_stag.png);
  background-size: contain;
  background-position: 10rem,16rem;
  height: 100vh;
  background-repeat: no-repeat;

  .h1baratheon {
    @include Hmain;
    color: $baratheonfontcolor;
    font-size: $baratheonfontsize;
    position: absolute;
    top: 6em;
    left: 2em;
    text-shadow: 0 0 2px black, 0 0 8px black, 0 0 64px black;
  }
}

.baratheonfamily {

  border-top:2px solid  rgb(226, 212, 21);
  background-image: linear-gradient( $baratheonbackcolor, rgb(34, 31, 22),rgb(165, 1, 1));

  .h2baratheon {
    @include Hmain;
    color: $baratheonfontcolor;
    margin: 0 2em;
    font-size: 3em;
    text-decoration: underline;
  }

  .h3baratheon {
    @include Hmain;
    color: $baratheonfontcolor;
    font-size: 2em;
    text-decoration: underline;
  }

  .tree {
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    justify-content: space-evenly;

    // Character Cards
    .card {
      margin: 16px 36px;
      display:flex;
      flex-flow: row nowrap;
      border: 2px $baratheonfontcolor solid;
      box-shadow: 4px 4px 8px black;
    }

    .card-info{
      background:$baratheoncardcolor;
      color: $baratheoncardcolor;
      opacity:0;
      overflow-y: scroll;
      width:0;
      height: 370px;
      transition:all 0.5s linear;

      &.active{
        width: 320px;
        opacity: 1;
      }

      hr{
        margin: 16px;
      }

      .character{
        color:$baratheonfontcolor;
        font-size: 18px;
        text-wrap: pretty;
        padding: 16px;
      }

      .quote{
        color:$baratheonfontcolor;
        padding:4px;
        text-align: center;
      }
    }

    /* .card:hover .card-info{
      opacity: 1;
      display: block;
    } */

    .cardcontainer {
      background-color: $baratheoncardcolor;
    }

    .cardimg {
      border: 2px solid $baratheoncardcolor;
    }

    .h4card {
      color: $baratheonfontcolor;
      font-size: $cardfontsize;
      text-align: center;
      padding: 8px;

    }
  }

  .deadcard {
    filter: $deadcardfilter;
  }
}
