// imports fonts
@import url("https://fonts.googleapis.com/css?family=Cormorant+Unicase");
@import url("https://fonts.googleapis.com/css?family=Cinzel");

@import "../style";

// font variables
$baratheonfontcolor: rgb(212, 181, 44);
$baratheoncardcolor: rgb(37, 37, 34);
$baratheonfontsize: 4em;

// card variables
$cardcolor: whitesmoke;
$cardfontsize: 1.1em;
$deadcardfilter: grayscale(100%);

.headerBaratheon {
  @include headerbase;
  background-image: url(../../images/nav/deer-fur-texture.jpg);
}

.baratheon {
  background-image: url(../../images/main/baratheon_deer.png);
  background-color: rgb(226, 212, 21);
  background-size: contain;
  background-position: 15em 6em, center;
  height: 720px;
  background-repeat: no-repeat;

  .h1baratheon {
    @include Hmain;
    color: $baratheonfontcolor;
    font-size: $baratheonfontsize;
    position: absolute;
    top: 6em;
    left: 2em;
    text-shadow: 0 0 2px black, 0 0 8px black, 0 0 64px black;
  }
}

.baratheonfamily {
  .h2baratheon {
    @include Hmain;
    color: $baratheonfontcolor;
    margin: 0 2em;
    font-size: 3em;
  }

  .h3baratheon {
    @include Hmain;
    color: $baratheonfontcolor;
    font-size: 2em;
  }

  .tree {
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    justify-content: space-evenly;

    .card {
      margin: 16px 36px;
    }

    .cardcontainer {
      background-color: $baratheoncardcolor;
    }

    .cardimg {
      border: 2px solid $baratheonfontcolor;
    }

    .h4card {
      color: $baratheonfontcolor;
      font-size: $cardfontsize;
      text-align: center;
      padding: 8px;
    }
  }

  .deadcard {
    filter: $deadcardfilter;
  }
}
