@import url("https://fonts.googleapis.com/css?family=Cormorant+Unicase");
@import url("https://fonts.googleapis.com/css?family=Cinzel");
@import url("https://fonts.googleapis.com/css?family=Cormorant+Unicase");
@import url("https://fonts.googleapis.com/css?family=Cinzel");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.base-header {
  position: fixed;
  width: 100%;
  height: 4rem;
  border-bottom: 2px solid gray;
  box-shadow: 0 0 8px #ebe5c6;
  z-index: 1;
}

body {
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: #111;
}

nav {
  font-family: "Cormorant Unicase", serif;
  padding: 1.2rem;
  background-image: linear-gradient(to left, rgb(0, 0, 0), rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.75), transparent);
  float: right;
}
nav ul li {
  list-style: none;
  color: #fdf4c7;
  transition: 3s;
}
nav a {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 1em;
  transition-duration: 3s;
  color: #fdf4c7;
}

.headerTargaryen {
  position: fixed;
  width: 100%;
  height: 4rem;
  border-bottom: 2px solid gray;
  box-shadow: 0 0 8px #ebe5c6;
  z-index: 1;
  background-image: url(../../images/nav/dragon_skin.jpg);
}
.headerTargaryen li:hover {
  text-decoration: underline;
  transition-delay: 0.3s;
}
.headerTargaryen ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
}
.headerTargaryen .dropdown-content {
  position: absolute;
  top: 2.5rem;
  z-index: 1;
}
.headerTargaryen .dropdown-content .banner {
  height: 0;
  width: 80px;
  position: relative;
  left: 1.5rem;
  transition: all 0.5s;
}
.headerTargaryen li:hover .dropdown-content .banner {
  height: 100px;
}

.backgroundTargaryen {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -999;
}

.targaryen {
  background-image: url(../../images/main/targaryan_dragon.png);
  background-size: contain;
  background-position: center center;
  height: 100vh;
  background-repeat: no-repeat;
  position: relative;
  top: 6rem;
  z-index: -1;
}
.targaryen .h1targaryen {
  color: #fdf4c7;
  font-size: 4rem;
  text-align: center;
  font-family: "Cinzel", sans-serif;
  padding: 1em;
  word-spacing: 0.8em;
  color: rgb(196, 0, 0);
  font-size: 4em;
  position: absolute;
  top: 6em;
  left: 2em;
  text-shadow: 0 0 2px black, 0 0 8px black, 0 0 64px black;
}

.targaryenfamily {
  background: #111;
  border-top: 2px red solid;
}
.targaryenfamily .h2targaryen {
  color: #fdf4c7;
  font-size: 4rem;
  text-align: center;
  font-family: "Cinzel", sans-serif;
  padding: 1em;
  word-spacing: 0.8em;
  color: rgb(196, 0, 0);
  margin: 2em 4em;
  font-size: 3em;
  text-decoration: underline;
}
.targaryenfamily .tree {
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  justify-content: space-evenly;
  /* .card:hover .card-info{
    opacity: 1;
    width: 320px;
  } */
}
.targaryenfamily .tree .card {
  margin: 16px 36px;
  display: flex;
  flex-flow: row nowrap;
  border: 2px rgb(196, 0, 0) solid;
  box-shadow: 4px 4px 8px black;
  cursor: pointer;
}
.targaryenfamily .tree .card-info {
  background: #111;
  color: rgb(196, 0, 0);
  opacity: 0;
  overflow-y: scroll;
  width: 0;
  height: 370px;
  transition: all 0.5s linear;
}
.targaryenfamily .tree .card-info.active {
  width: 320px;
  opacity: 1;
}
.targaryenfamily .tree .card-info hr {
  margin: 16px;
}
.targaryenfamily .tree .card-info .character {
  font-size: 18px;
  text-wrap: pretty;
  line-height: 140%;
  padding: 16px;
}
.targaryenfamily .tree .card-info .quote {
  padding: 4px;
  text-align: center;
}
.targaryenfamily .tree .cardcontainer {
  background-color: rgb(70, 14, 14);
}
.targaryenfamily .tree .cardimg {
  border: 2px solid rgb(70, 14, 14);
}
.targaryenfamily .tree .h4card {
  color: rgb(196, 0, 0);
  font-size: 1.1em;
  text-align: center;
  padding: 8px;
}
.targaryenfamily .tree .h4card .truth {
  display: none;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}
.targaryenfamily .tree .name:hover .truth {
  display: block;
  width: 120px;
  top: 92%;
  left: 25%;
  margin-left: -60px;
}
.targaryenfamily .deadcard {
  filter: grayscale(100%);
}/*# sourceMappingURL=targaryanstyle.css.map */