// imports fonts
@import url("https://fonts.googleapis.com/css?family=Cormorant+Unicase");
@import url("https://fonts.googleapis.com/css?family=Cinzel");

@import "../style";

// font variables
$targaryanfontcolor: rgb(196, 0, 0);
$targaryancardcolor: rgb(70, 14, 14);
$targaryanbackcolor:#111;
$targaryanfontsize: 4em;

// card variables
$cardcolor: whitesmoke;
$cardfontsize: 1.1em;
$deadcardfilter: grayscale(100%);

.headerTargaryan {
  @include headerbase;
  background-image: url(../../images/nav/dragon_skin.jpg);
}


.backgroundTargaryan {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -999; 
}

.targaryan {
  background-image: url(../../images/main/targaryan_dragon.png);
  background-size: contain;
  background-position: center center;
  height: 100vh;
  background-repeat: no-repeat;
  position: relative;
  top:6rem;
  z-index: -1;

  .h1targaryan {
    @include Hmain;
    color: $targaryanfontcolor;
    font-size: $targaryanfontsize;
    position: absolute;
    top: 6em;
    left: 2em;
    text-shadow: 0 0 2px black, 0 0 8px black, 0 0 64px black;
  }
}



.targaryanfamily {

 background:$targaryanbackcolor;
 border-top: 2px red solid;
 
  
 .h2targaryan {
  @include Hmain;
  color: $targaryanfontcolor;
  margin: 2em 4em;
  font-size: 3em;
  text-decoration: underline;
}

  

  .tree {
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    justify-content: space-evenly;

    .card {
      margin: 16px 36px;
    }

    .cardcontainer {
      background-color: $targaryancardcolor;
    }

    .cardimg {
      border: 2px solid $targaryancardcolor;
    }

    .h4card {
      color: $targaryanfontcolor;
      font-size: $cardfontsize;
      text-align: center;
      padding: 8px;
    }
  }

  .deadcard {
    filter: $deadcardfilter;
  }
}
