// imports fonts
@import url("https://fonts.googleapis.com/css?family=Cormorant+Unicase");
@import url("https://fonts.googleapis.com/css?family=Cinzel");

@import "../style";

// font variables
$targaryenfontcolor: rgb(196, 0, 0);
$targaryencardcolor: rgb(70, 14, 14);
$targaryencardfontcolor: rgb(22, 9, 9);
$targaryenbackcolor:#111;
$targaryenfontsize: 4em;

// card variables
$cardcolor: whitesmoke;
$cardfontsize: 1.1em;
$deadcardfilter: grayscale(100%);

.headerTargaryen {
  @include headerbase;
  background-image: url(../../images/nav/dragon_skin.jpg);
}


.backgroundTargaryen {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -999; 
}

.targaryen {
  background-image: url(../../images/main/targaryan_dragon.png);
  background-size: contain;
  background-position: center center;
  height: 100vh;
  background-repeat: no-repeat;
  position: relative;
  top:6rem;
  z-index: -1;

  .h1targaryen {
    @include Hmain;
    color: $targaryenfontcolor;
    font-size: $targaryenfontsize;
    position: absolute;
    top: 6em;
    left: 2em;
    text-shadow: 0 0 2px black, 0 0 8px black, 0 0 64px black;
  }
}



.targaryenfamily {

 background:$targaryenbackcolor;
 border-top: 2px red solid;
 
  
 .h2targaryen {
  @include Hmain;
  color: $targaryenfontcolor;
  margin: 2em 4em;
  font-size: 3em;
  text-decoration: underline;
}

  

  .tree {
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    justify-content: space-evenly;


    // Character Cards
    .card {
      margin: 16px 36px;
      display:flex;
      flex-flow: row nowrap;
      border: 2px $targaryenfontcolor solid;
      box-shadow: 4px 4px 8px black;
    }

    .card-info{
      background:$targaryencardcolor;
      color: $targaryencardfontcolor;
      display: none;
      opacity:0;
      transition:all 1s linear;
      overflow-y: scroll;
      width:220px;
      height: 370px;

      hr{
        margin: 16px;
      }

      .character{
        text-align: center;
        padding: 16px;
      }

      .quote{
        padding:4px;
        text-align: center;
      }
    }

    .card:hover .card-info{
      opacity: 1;
      display: block;
    }

    .cardcontainer {
      background-color: $targaryencardcolor;
    }

    .cardimg {
      border: 2px solid $targaryencardcolor;
    }

    .h4card {
      color: $targaryenfontcolor;
      font-size: $cardfontsize;
      text-align: center;
      padding: 8px;

      //Reveals Jon Snows true name.
      .truth{
        display:none;
        width: 120px;
        background-color: black;
        color: #fff;
        text-align: center;
        padding: 5px 0;
        border-radius: 6px;
      
        /* Position the tooltip text - see examples below! */
        position: absolute;
        z-index: 1;
      }
    }

    .name:hover .truth{
      display:block;
      width: 120px;
      top: 92%;
      left: 25%;
      margin-left: -60px;
    }
  }

  .deadcard {
    filter: $deadcardfilter;
  }
}
