// imports fonts
@import url("https://fonts.googleapis.com/css?family=Cormorant+Unicase");
@import url("https://fonts.googleapis.com/css?family=Cinzel");

@import "../style";

// font variables
$greyjoyfontcolor: rgb(122, 109, 47);
$greyjoycardcolor: rgb(36, 36, 36);
$greyjoyfontsize: 4em;

// card variables
$cardcolor: whitesmoke;
$cardfontsize: 1.4em;
$deadcardfilter: grayscale(100%);

.headerGreyjoy {
  @include headerbase;
  background-image: url(../../images/nav/octopus-arms.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.backgroundGreyjoy {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -999; 
}

.greyjoy {
  background-image: url(../../images/main/Greyjoy_squid.png);
  background-size: contain;
  background-position: 15em 6em, center;
  height: 100vh;
  background-repeat: no-repeat;

  .h1greyjoy {
    @include Hmain;
    color: $greyjoyfontcolor;
    font-size: $greyjoyfontsize;
    position: absolute;
    top: 10em;
    left: 6em;
    text-shadow: 0 0 2px black, 0 0 8px black, 0 0 64px black;
  }
}

.greyjoyfamily {

  background: #111;
  border-top:2px solid  $greyjoyfontcolor;

  .h2greyjoy {
    @include Hmain;
    color: $greyjoyfontcolor;
    margin: 0 2em;
    font-size: 3em;
    text-decoration: underline;
  }


  .tree {
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    justify-content: space-evenly;

    // Character Cards
    .card {
      margin: 16px 36px;
      display:flex;
      flex-flow: row nowrap;
      border: 2px $greyjoyfontcolor solid;
      box-shadow: 4px 4px 8px black;
    }

    .card-info{
      background:$greyjoycardcolor;
      color: $greyjoycardcolor;
      display: none;
      opacity:0;
      transition:all 1s linear;
      overflow-y: scroll;
      width:220px;
      height: 370px;

      hr{
        margin: 16px;
      }

      .character{
        color:$greyjoyfontcolor;
        text-align: center;
        padding: 16px;
      }

      .quote{
        color:$greyjoyfontcolor;
        padding:4px;
        text-align: center;
      }
    }

    .card:hover .card-info{
      opacity: 1;
      display: block;
    }

    .cardcontainer {
      background-color: $greyjoycardcolor;
    }

    .cardimg {
      border: 2px solid $greyjoycardcolor;
    }

    .h4card {
      color: $greyjoyfontcolor;
      font-size: $cardfontsize;
      text-align: center;
      padding: 8px;

    }
  }

  .deadcard {
    filter: $deadcardfilter;
  }
}
